<ion-content>

    <ion-card>
        <ion-card-header>
            Material Date Picker
        </ion-card-header>
        <ion-card-content>
            <mat-form-field>
                <input matInput [matDatepicker]="datepicker" placeholder="Choose a date">
                <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                <mat-datepicker #datepicker></mat-datepicker>
            </mat-form-field>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            Angular5-Time-Picker
        </ion-card-header>
        <ion-card-content>
            <mat-form-field>
                    <input matInput [matTimepicker]="timepicker" placeholder="Choose a time">
                    <mat-timepicker-toggle matSuffix [for]="timepicker"></mat-timepicker-toggle>
                    <mat-timepicker #timepicker color="primary"></mat-timepicker>
            </mat-form-field>
        </ion-card-content>
    </ion-card>

</ion-content>