<!-- Clear the browser cache and restart to refresh the changes -->
<ion-content>

    <ion-card>
        <ion-card-header>
            Material Date Picker
        </ion-card-header>
        <ion-card-content>
            <mat-form-field>
                <input matInput [matDatepicker]="picker0" placeholder="Choose a date">
                <mat-datepicker-toggle matSuffix [for]="picker0"></mat-datepicker-toggle>
                <mat-datepicker #picker0></mat-datepicker>
            </mat-form-field>
        </ion-card-content>
    </ion-card>

</ion-content>
