<ion-header>
    <ion-navbar class="cmp">
      <ion-title [class.blackTitle]="shouldEnableBlackTitle()">Leads Create</ion-title>
    </ion-navbar>
  </ion-header>
  
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label floating>input field 1</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>input field 2</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>input field 3</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>input field 4</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label floating>input field 5</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label floating>input field 6</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>input field 7</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label floating>input field 8</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label floating>input field 9</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>         
  </ion-list>
</ion-content>  
